<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="stylesheet" href="../static/style.css">

    <link rel="stylesheet" href = "../static/style.css">

    <title>중고동산</title>


    <script>

     $(document).ready(function () {
            listing();
        });

         function listing() {

             $.ajax({
                type: 'GET',
                url: '/products',
                data: {},
                success: function (response) {
                    let rows = response['products']
                    for (i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let product = rows[i]['product']
                        let img = rows[i]['img']
                        let desc = rows[i]['desc']
                        let price = rows[i]['price']
                        let id = rows[i]['_id']


                        let temp_html = `<div class="col">
                                        <div class="card h-100">
                                           <a href="/detail?id=${id}">
                                           <img src="${img}"
                                                 class="card-img-top">
                                           </a>
                                            <div class="card-body">
                                                <h5 class="card-title">${product}</h5>
                                                <p class="card-text">${desc}</p>
                                                <p>${name}</p>
                                                <p class="mycomment">${price}</p>

                                            </div>
                                        </div>
                                    </div>`

                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }
        function posting() {
            let name = $('#name').val()
            let product = $('#product').val()
            let img = $('#img').val()
            let desc = $('#desc').val()
            let price = $('#price').val()

            $.ajax({
                type: 'POST',
                url: '/products',
                data: {name_give: name, product_give: product, img_give:img,desc_give:desc, price_give:price},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()

        }


     function search() {
         let search = $("#input-word").val()
         let regex = / /gi;
         search.replace(regex, '');
         console.log(search)
         if (search == "") {
             // 빈 문자열이면 얼럿
             alert("앗! 아직 입력하지 않았어요~!")
             return
         } else {
             // 리스트에 없으면 물건을 못찾겠습니다라고 뜨게 한다
             alert("물건을 못 찾겠습니다.")
             return
         }
     }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/"
        }

    </script>
</head>

<body>
    <header id="header">
        <div class="dust">
            <h2 style="font-size: 20px;">거래하기 좋은 날(미세먼지 농도)</h2>
            <ul>
                {% for row in rows %}
                {% set gu_name = row.MSRSTE_NM %}
                {% set gu_mise = row.IDEX_MVL %}
                {% if gu_mise <= 50 %}
                <li>{{ gu_name }}: {{ gu_mise }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="head">
            <div class="logo">
                <a class="main_logo" href="/"><h1>중고동산</h1></a>
                <div class="search">
                    <div class="search-box">
                        <input type="search" id="input-word" placeholder="품목명을 입력하세요." required>
                        <button id="serch_button" class="btn btn-light" onclick="search()"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
            </div>
            <div class="member">
                <ul>
                    <li>

                        <a href="/login">로그인/회원가입</a>

                        <a class="button level-item has-text-centered is-sparta is-outlined" aria-label="logout"
                           onclick="sign_out()">
                            로그아웃&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-sign-out"
                                                                                 aria-hidden="true"></i></span>
                        </a>
                        <a href="/">홈</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </header>
    <div class="mypost" id="post-box">
        <div class="form-floating mb-3">
            <input id="name" type="text" class="form-control" placeholder="name@example.com">
            <label>작성자</label>
        </div>
        <div class="form-floating mb-3">
            <input id="product" type="text" class="form-control" placeholder="name@example.com">
            <label>상품명</label>
        </div>
        <div class="form-floating mb-3">
            <input id="img" type="text" class="form-control" placeholder="name@example.com">
            <label>상품이미지url</label>
        </div>
        <div class="form-floating mb-3">
            <input id="desc" type="text" class="form-control" placeholder="name@example.com">
            <label>상품 설명</label>
        </div>
        <div class="form-floating">
            <input id="price" type="text" class="form-control" placeholder="name@example.com">
            <label>상품 가격</label>
        </div>
        <div class="mybtn">
            <button onclick="posting()" type="button" class="btn btn-dark">등록하기</button>
            <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
        </div>
    </div>
    <div class="wrap" id="cards-box">
        <!-- <div class="row row-cols-1 row-cols-md-4 g-4">

        </div> -->
    </div>

     <div onclick="open_box()" class="sidebox" id="sidebox">
    물품 추가하기
     </div>


    <footer style="height: 100px; background: #33dac6;">
        <div class="foot">
            <i class="fa-regular fa-copyright"></i>
            <p>2022, 중고동산 by Team 6, ALL RIGHTS RESERVED.</p>
        </div>
    </footer>
</body>

</html>